/*===============================
    desktop/leptop layout.
===============================*/

@media only screen and (min-width:991px) and (max-width:1199px) {
    .navbar-brand > img {
        max-height: 50px;
    }
    .navbar-brand {
        padding: 0;
    }
    .header .navbar-nav li a {
        padding: 0 7px;
        font-size: 14px;
    }

    .search-form {
        top: 35px;
    }
    .search-form.active {
        top: 47px;
    }


    .menu-marign {
        margin-top: 71px;
    }


}


/*==============================
    Tablet Layout
=============================*/

@media only screen and (min-width:768px) and (max-width:991px) {
    .discussion .head h2 {
        margin-bottom: 70px;
    }
    .head {
        margin-top: 50px;
    }
    .carousel-inner > .item > a > img,
    .carousel-inner > .item > img,
    .img-responsive,
    .thumbnail a > img,
    .thumbnail > img {
        max-width: inherit;
        max-height: 50px;
    }
    .tranding {
        padding-top: 100px;
        padding-bottom: 50px;
    }
    .slider .background .content {
        left: 90px;
    }
    .icon {
        margin-bottom: 20px;
    }
    .navbar-toggle {
        margin-top: 21px;
    }
    .search-form {
        top: 45px;
    }
    .search-form.active {
        top: 54px;
    }

    /*
    .header .icon {
        margin-top: 29px;
    }
*/
    .navbar-brand {
        padding-top: 9px;
    }



}


/*===================================
    normal/small mobile layout.
===================================*/

@media only screen and (max-width:767px) {
    .navbar-toggle {
        margin-top: 25px;
    }
    .blog-pagination li a {
        padding: 9px 15px;
    }
    .icon {
        margin-top: 20px;
        margin-bottom: 15px;
    }
    .slider .background h2 {
        font-size: 20px;
    }
    .slider .background h3 {
        margin: 20px 0 0;
        font-size: 16px;
        min-width: inherit;
    }
    .carousel-control {
        display: none;
    }
    .slider .background {
        height: 300px;
    }
    .slider .background .content {
        position: relative;
        left: 0px;
        width: 100%;
        top: 80px;
    }


    .header .icon .no-style {
        text-align: right;
    }

    .number {
        text-align: center;
    }
    .slider .background h2::after {
        border-left-width: 43px;
        border-top-width: 43px;
    }
    .slider .background h3::after {
        border-left-width: 45px;
        border-top-width: 45px;
    }
    .slider {
        padding-top: 60px;
    }
    .menu-marign {
        margin-top: 111px;
    }


}

@media (max-width:991px) {
    .header .icon {
        position: absolute;
        top: 27px;
        left: 55%;
        margin: 0;
    }
    .header {
        padding: 7px 0;
    }
}

.log .fa-sign-out-alt {
    display: none;
}

@media (max-width:767px) {
    .log span {
        display: none;
    }
    .log .fa-sign-out-alt {
        display: inline-block;
    }
    .header .icon {
        left: 47%;
        top: 32px;
    }
    .header {
        padding: 0;
    }
    .search-form.active {
        top: 57px;
    }
}

@media (max-width:575px) {
    .search-form.active {
        top: 49px;
    }
    .slider {
        padding-top: 0;
    }
    .navbar-brand {
        max-width: 140px;
        position: relative;
        z-index: 5;
    }
    .header .icon {
        left: 109px;
        top: 26px;
        width: 45%;
    }
    .header .icon li {
        margin: 0 6px;
    }
    .header .icon li a.log {
        padding: 0;
        background: transparent;
    }
    .header .icon li a.log:hover {
        background: transparent
    }
    .navbar-toggle {
        margin-top: 16px;
    }
    .bell-content {
        right: -143px;
        top: 43px;
    }
    .bell-content::after {
        right: 134px;
    }
    .bell-content.active {
        top: 43px;
    }
    .search-form {
        right: -109px;
    }

    .menu-marign {
        margin-top: 68px;
    }
}

@media (max-width:480px) {
    .slider .background h2::after {
        border-left-width: 32px;
        border-top-width: 32px;
    }
    .slider .background h3::after {
        border-left-width: 35px;
        border-top-width: 35px;
    }
}




/*==============================
    wide mobile layout
================================*/

@media only screen and (min-width:481px) and (max-width:767px) {
    .slider .background h2 {
        font-size: 30px;
    }
    .slider .background h3 {
        font-size: 25px;
    }




}

/* ==================== menu breakdown ==================== */

@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav > li {
        float: none;
    }
    .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .navbar-collapse.collapse.in {
        /* NEW */
        display: block!important;
    }
}
